img {
  display: block;
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
  width: 100%;
}
body {
  font-family: "DM Sans", sans-serif;
}
.search-bar {
  padding-bottom: 40px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 5px;
}
.details {
  font-size: 10px;
  padding-left: -10px;
}
.unit {
  font-size: 14px;
  position: relative;
  top: -16px;
  left: 5px;
}
h1 {
  text-align: right;
  padding-bottom: 20px;
}
ul {
  font-size: 20px;
  list-style: none;
  text-align: left;
  font-size: 18px;
  color: black;
  padding-top: 40px;
  line-height: 1;
}
h3 {
  font-size: 20px;
  text-align: center;
}
.weather-app {
  border: 1px solid black;
  padding: 20px;
  border-radius: 6px;
  margin: 15px;
  max-width: 800px;
}
h4 {
  font-size: 10px;
  padding-left: 125px;
}
